.headerbox {
  height: 50px; }
  .headerbox header {
    height: 50px; }
    .headerbox header .logo {
      float: left;
      height: 50px;
      width: 50px;
      padding-right: 5px; }
      .headerbox header .logo img {
        height: 100%;
        width: 100%; }
    .headerbox header ul li {
      float: left;
      padding-right: 20px;
      line-height: 50px; }
      .headerbox header ul li a {
        color: #8D8D8D; }

.contentbox {
  background: #CCCCCC;
  padding-top: 100px; }
  .contentbox .content {
    width: 856px;
    height: 677px;
    background: #FFF;
    margin: auto; }
    .contentbox .content .register {
      width: 360px;
      margin: 0 auto; }
      .contentbox .content .register h1 {
        padding-top: 80px;
        font-size: 30px;
        height: 30px;
        text-align: center; }
      .contentbox .content .register .re1 {
        height: 22px;
        margin: 50px auto; }
        .contentbox .content .register .re1 span {
          display: block;
          float: left;
          font-size: 20px;
          padding: 0 25px; }
        .contentbox .content .register .re1 .active {
          color: red; }
        .contentbox .content .register .re1 .span-first {
          border-right: 2px solid gray; }
      .contentbox .content .register input {
        height: 50px;
        font-size: 20px;
        width: 358px;
        border: 1px solid #bbb;
        margin-top: 20px;
        text-indent: 20px; }
      .contentbox .content .register button {
        margin-top: 20px;
        width: 360px;
        height: 50px;
        background: red;
        color: #fff;
        text-align: center;
        line-height: 50px;
        border: none; }
      .contentbox .content .register p {
        margin-top: 20px; }
        .contentbox .content .register p span {
          float: left;
          padding-right: 5px;
          color: #bbb; }
        .contentbox .content .register p a {
          float: left;
          font-weight: 600; }
      .contentbox .content .register .warning {
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        text-indent: 20px;
        font-weight: 600; }
